@use "sass:map";
@use "../variables" as *;

:host {
  display: block;
  min-height: 100vh;
}

.wedding-content {
  @include flex(column);
  min-height: 100vh;
  position: relative;
  flex-wrap: wrap;
  z-index: map.get($z-indexes, content);
}

.content-container {
  opacity: 0;
}

.title {
  font-size: map.get($font-sizes, title);
  font-weight: 300;
  color: $color-primary;
  margin-bottom: map.get($spacing, md);
  font-family: $font-title;
}

.subtitle {
  font-size: map.get($font-sizes, subtitle);
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: map.get($spacing, lg);
}

.date {
  font-size: map.get($font-sizes, date);
  font-family: $font-title;
  color: $color-text-dark;
  margin-bottom: map.get($spacing, xl);
}

.event-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: map.get($spacing, lg);
  margin-bottom: map.get($spacing, xxl);
}

.event-card {
  background-color: $color-event-card-bg-light;
  border-top: 1px solid rgb(55 181 101 / 25%);
  padding: map.get($spacing, md-l);
  border-radius: map.get($radiuses, md);
  box-shadow: $shadow-card;
  h2 {
    font-size: map.get($font-sizes, subtitle-lg);
    font-family: $font-title;
    color: $color-primary;
    margin-bottom: map.get($spacing, md);
    text-align: center;
    margin-top: 0;
  }
  p,
  ul {
    color: $color-text-dark;
  }
}

.dash,
.contact-us {
  color: $color-contact;
}

.meal-name {
  margin-top: 0;
}

.spacer {
  &.top {
    height: $top-mobile-spacer-height;
  }
}

.time-span {
  width: 2.2rem;
  display: inline-block;
}

.contact-us,
.about-wedding {
  color: $color-text-dark;
  text-align: center;
  line-height: 1.5;
}

.heart-emoji {
  font-size: map.get($font-sizes, subtitle-lg);
}

.about-wedding {
  max-width: $about-text-max-width;
  margin-bottom: map.get($spacing, xl);
  margin-right: map.get($spacing, md);
  margin-left: map.get($spacing, md);
}

.or {
  font-size: map.get($font-sizes, dialog-button);
  opacity: 0.8;
}

@media (min-width: $breakpoint-md) {
  .title {
    font-size: map.get($font-sizes, title-xl);
  }
  .subtitle {
    font-size: map.get($font-sizes, subtitle-mobile);
    font-weight: 400;
  }
  .date {
    font-size: map.get($font-sizes, date-lg);
  }
  .event-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
