@use "sass:map";
@use "../../_variables" as *;

.leaves-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(
    ellipse at top center,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(0, 0, 0, 0) 30%
  );
  background-repeat: no-repeat;
  animation: 3s ease-out light, 5s infinite alternate 3s lightBounce;
  pointer-events: none;
  z-index: map.get($z-indexes, bg);
}

@keyframes light {
  from {
    background-position-y: -50vh;
  }
  to {
    background-position-y: 0;
  }
}

@keyframes lightBounce {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -100px;
  }
}

.background-drawing {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  background-image: url("/assets/my-kresba-bez-hodinek-white.webp");
  background-position: center 3rem;
  background-repeat: no-repeat;
  background-size: $background-drawing-mobile-width;
  opacity: 1;
  scale: 1;
  transition: opacity map.get($transitions, main),
    scale map.get($transitions, main);
  filter: invert(1);
}

@keyframes fall {
  from {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(110vh) translateX(40vw) rotate(360deg);
    opacity: 0.5;
  }
}

@keyframes fall2 {
  from {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(110vh) translateX(20vw) rotate(-360deg);
    opacity: 0.5;
  }
}

.leaf:nth-child(odd) {
  position: absolute;
  top: -10%;
  left: -20%;
  color: $color-leaf-odd;
  animation: fall2 ease-out 5s infinite;
}

.leaf:nth-child(even) {
  position: absolute;
  top: -10%;
  left: -20%;
  color: $color-leaf-even;
  animation: fall ease-out 5s infinite;
}

.background-gradient {
  position: fixed;
  inset: 0;
  background: $color-bg-gradient;
  background-repeat: no-repeat;
  opacity: 0.7;
}

@media (min-width: $breakpoint-md) {
  .background-drawing {
    background-size: $background-drawing-width;
  }
}
